.author-info__single-post,
.controls__single-post,
.username-info__single-post,
.vote-controls,
.option__vote-controls,
.public__controls,
.author-admin__controls,
.actions__comment-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.username-info__single-post,
.option__vote-controls,
.author-admin__controls,
.actions__comment-form {
  gap: 10px;
}
.vote-controls,
.public__controls {
  gap: 20px;
}
img.author-info__single-post {
  width: 50px;
}
.date-created__single-post {
  font-weight: bold;
  margin-left: auto;
}
textarea.content-textarea__single-post {
  width: 100% !important;
  max-width: 100%;
  border: none;
  background-color: #fff;
  font-size: 16px;
  font-family: inherit;
  color: #333;
  resize: none;
  padding: 0;
  line-height: 1.5em;
}
.username-info__single-post {
  font-weight: 600;
  color: #666;
  cursor: pointer;
}
img.author-info__single-post {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: 1px solid #cccccc75;
}
.content__single-post {
  padding: 15px 0;
  display: flex;
}
.single-post h1 {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
.controls__single-post {
  justify-content: space-between;
}
.option__vote-controls i {
  font-size: 20px !important;
  cursor: pointer;
}
.option__vote-controls i:hover {
  color: #fbcb0c;
}
textarea.content-textarea__single-post.editable {
  padding: 15px;
  background-color: #f6f6f6;
  border: 2px dashed #ccc;
  border-radius: 4px;
}
.edit-post-box {
  width: 100%;
  position: relative;
  display: flex;
}
.content-chars-length {
  position: absolute;
  bottom: 10px;
  right: 30px;
  font-size: 14px;
  font-weight: 600;
  color: #666;
}

.option__vote-controls.voted {
  color: #fbcb0c;
  font-weight: bold;
}

.single-post-view-container {
  min-height: 750px;
  max-height: auto;
}
