.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.forgot-password-card {
  background: #ffffff;
  padding: 50px;
  border-radius: 12px;
  box-shadow: var(--global-box-shadow);
  text-align: center;
  width: 450px;
  border-radius: 20px;
  border: var(--global-default-border);
}

.forgot-password-card h2 {
  color: #333;
  font-size: 22px;
  margin-bottom: 10px;
}

.forgot-password-card p {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

.forgot-password-input {
  width: 94%;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 2px solid #ccc;
  background: #fff;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
.forgot-password-input::placeholder {
  font-size: 16px;
}

.forgot-password-input:focus {
  border-color: #ff9900;
  outline: none;
  background: #f8f9fa;
}

.forgot-password-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}
