/* Header Styles */
.header {
  background-color: #1e1e1e; /* Dark mode */
  color: #ffffff;
  padding: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

/* Forum Title */
.forum-logo {
  color: #f7df1e; /* JavaScript yellow */
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.forum-logo img {
  width: 25px;
  border-radius: 5px;
}

/* Navigation Links */
.nav-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.nav-link {
  color: #aaaaaa;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #f7df1e;
}

/* Authentication Buttons */
.auth-buttons {
  display: flex;
  gap: 10px;
}

.icon-box {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.65rem;
}
.user-box i {
  font-size: 1.8rem;
}

.header .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.utils-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .auth-buttons {
    margin-top: 10px;
  }
}
