@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}
:root {
  --global-site-width: 1200px;
}
body,
html {
  margin: 0;
  padding: 0;
}

.page-content {
  padding: 1.8rem 0;
}
