@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}
:root {
  --global-site-width: 1200px;
  --global-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  --global-default-border: 1px solid #cccccc80;
}
body,
html {
  margin: 0;
  padding: 0;
}
.page-content {
  padding: 1.8rem 0;
}
i {
  user-select: none;
}
